@font-face {
	font-family: 'Graphik LC';
	src: url('http://zona.media/font/Graphik-Bold-Cy-Web.eot');
	src: url('http://zona.media/font/Graphik-Bold-Cy-Web.eot?#iefix') format('embedded-opentype'),
		 url('http://zona.media/font/Graphik-Bold-Cy-Web.woff') format('woff'),
		 url('http://zona.media/font/Graphik-Bold-Cy-Web.ttf') format('truetype'),
		 url('http://zona.media/font/Graphik-Bold-Cy-Web.svg#Graphik-Bold-Cy') format('svg');
	font-weight:  700;
	font-style:   normal;
}

@font-face {
	font-family: 'Graphik LC';
	src: url('http://zona.media/font/Graphik-Regular-Cy-Web.eot');
	src: url('http://zona.media/font/Graphik-Regular-Cy-Web.eot?#iefix') format('embedded-opentype'),
		 url('http://zona.media/font/Graphik-Regular-Cy-Web.woff') format('woff'),
		 url('http://zona.media/font/Graphik-Regular-Cy-Web.ttf') format('truetype'),
		 url('http://zona.media/font/Graphik-Regular-Cy-Web.svg#Graphik-Regular-Cy') format('svg');
	font-weight:  400;
	font-style:   normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Fira Mono';
	src: url('http://zona.media/font/firamono/firamono-regular-webfont.eot');
	src: url('http://zona.media/font/firamono/firamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('http://zona.media/font/firamono/firamono-regular-webfont.woff2') format('woff2'),
	url('http://zona.media/font/firamono/firamono-regular-webfont.woff') format('woff'),
	url('http://zona.media/font/firamono/firamono-regular-webfont.ttf') format('truetype'),
	url('http://zona.media/font/firamono/firamono-regular-webfont.svg#fira_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Mono';
	src: url('http://zona.media/font/firamono/firamono-bold-webfont.eot');
	src: url('http://zona.media/font/firamono/firamono-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('http://zona.media/font/firamono/firamono-bold-webfont.woff2') format('woff2'),
	url('http://zona.media/font/firamono/firamono-bold-webfont.woff') format('woff'),
	url('http://zona.media/font/firamono/firamono-bold-webfont.ttf') format('truetype'),
	url('http://zona.media/font/firamono/firamono-bold-webfont.svg#fira_monobold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'William Text';
    src: url('http://zona.media/font/williamtext/WilliamTextStd-Regular.eot'); /* IE9 Compat Modes */
    src: url('http://zona.media/font/williamtext/WilliamTextStd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://zona.media/font/williamtext/WilliamTextStd-Regular.woff') format('woff'), /* Modern Browsers */
         url('http://zona.media/font/williamtext/WilliamTextStd-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('http://zona.media/font/williamtext/WilliamTextStd-Regular.svg#WilliamTextStd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'William Text';
    src: url('http://zona.media/font/williamtext/WilliamTextStd-RegularItalic.eot'); /* IE9 Compat Modes */
    src: url('http://zona.media/font/williamtext/WilliamTextStd-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('http://zona.media/font/williamtext/WilliamTextStd-RegularItalic.woff') format('woff'), /* Modern Browsers */
         url('http://zona.media/font/williamtext/WilliamTextStd-RegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('http://zona.media/font/williamtext/WilliamTextStd-RegularItalic.svg#WilliamTextStd-RegularItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}